.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
}

.heading {
  margin: 10px;
  font-size: 20px;
}